:root{
    --p-color: #6d28d9;
    --p-light: #8b5cf6;
    --s-color: #10b981;
    --ac-color: #f59e0b;
    --bg-color: #121212;
    --sup-color: #1e1e1e;
    --sup2-color: #2d2d2d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    font-family: 'Inter', regular;
    color: #fff;
}

header{
    width: 100%;
}

header nav{
    max-width: 1440px;
}

ul{
    display: none;
}

nav{
    background-color: var(--sup-color);
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 60px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--p-color);
}

svg{
    width: 40px;
}

a{
    color: #fff;
}

.btn-secundario{
    background-color: #161616;
    color: var(--p-light);
    border-radius: 3px;
    padding: 6px 15px;
    text-decoration: none;
}

h3{
    margin: 20px;
}

.txt-grey{
    color: #747474;
    margin: 20px;
    line-height: 25px;
}

footer{
    display: none;
}

@media (min-width: 1440px){
    .menu{
        display: none;
    }

    header nav{
        max-width: unset;
    }

    nav{
        width: 98vw;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-self: center;
    }

    ul{
        display: flex;
        gap: 24px;
        list-style: none;
    }

    .selected{
        color: #fff;
    }

    li a{
        color: #9c9c9c;
    }

    a{
        text-decoration: none;
    }

    h3{
        font-size: 1.5rem;
    }

    h4{
        font-size: 1.2rem;
    }

    .btn-secundario{
        margin: 20px;
        font-size: 1.2rem;
    }

    footer{
        margin: 20px;
        border-radius: 7px;
        height: 10vh;
        background-color: var(--sup2-color);
        color: #747474;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

